section{
    background-color: #f8f8f8;
}
section .do-me::after{
    content: "";
    display: block;
    clear: both;
}
section .do-me .do-inner{
    width: 30%;
    padding: 2rem;
    float: left;
    background-color: #fff;
    margin-right: 5%;
    cursor: pointer;
}
section .do-me .do-inner:last-child{
    margin-right: 0;
}
section .do-me .do-inner .icon{
    font-size: 2.5rem;
    color: #3da8e6;
}
section .do-me .do-inner .content h3{
    font-size: 1.5rem;
    margin: 1rem 0;
}
section .do-me .do-inner .content p{
    font-size: 1.15rem;
}

section .do-me .do-inner:hover{
    background-color: rgb(32, 221, 158);
    color: white;
}